body {
    font-family: sans-serif;
}
header{background-color:#40E0D0 ; padding: 5px;}
.h1{text-align: center; }
.footer__p{text-align: center;}
.footer__p2{border: 3px solid #4169E1; border-radius: 10px;}
.footer__p3{border:3px solid #4169E1; border-radius: 10px; }
nav a{padding: 10px; text-decoration: none; 
border: 3px solid black; border-radius: 10px; }
nav{
    margin-top: 20px; 
}
.p{border:4px dashed darkmagenta;}
.h2{color: #4682B4;}


.h22{color:#4682B4 ;}
.a2{border: 4px dashed purple;padding: 3px; text-decoration: none;}
.h222{ color: #4682B4;}
.a3{text-decoration: none;}
